<html>
    <head>
        <title>Theocratic monopoly</title>
        <link rel="stylesheet" href="static/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="menu"></div>
        <div>
            <div class="row cells-top" >
            </div>
            <div class="row">
                <div class="column cells-left">
                    
                </div>
                <div class="center" >
                    <h1>Theocratic Monopoly</h1>
                </div>
                <div class="column cells-right">
                </div>
            </div>
            <div class="row cells-bottom">
            </div>
        </div>
    <div class="modal-background">
        <div class="modal-body">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <script src="static/index.js"></script>
    </body>
</html>